name: Deploy Astro to GitHub Pages
on:
  workflow_dispatch:
  push:
    branches: [ publish ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: truvia-site
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
            version: 9
      - uses: actions/setup-node@v4
        with:
            node-version: 22
            registry-url: https://registry.npmjs.org
            cache: pnpm
            cache-dependency-path: truvia-site/pnpm-lock.yaml
      - name: Install Dependencies
        run: pnpm i --frozen-lockfile
      - run: pnpm run build
      - uses: actions/upload-pages-artifact@v3
        with:
          path: truvia-site/dist
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
